@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
:root {
  /* --max-width: 1100px; */
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

font-family: 'Ubuntu', sans-serif;
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.grass{
  background-color:#9BCC50 ;
}
.water{
  background-color:#2B73B9 ;
}
.bug{
  background-color:#729F3F ;
}
.fire{
  background-color:#FC7C23 ;
}
.poison{
  background-color:#B97FC9 ;
}
.flying{
  background: linear-gradient(180deg, #4592C4 50%, #b4b4b4 50%);
}

  /* Hide scrollbar for Chrome, Safari and Opera */
.pokemon-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pokemon-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

